<mat-toolbar>
	<mat-toolbar-row>
		<span class="text-xl cream">Buxx</span>
		<span class="spacer"></span>
		<button (click)="openAddDialog()" color="accent" mat-icon-button>
			<mat-icon>add_circle</mat-icon>
		</button>
		<button (click)="refresh()" class="ml-2" color="accent" mat-icon-button>
			<mat-icon>refresh</mat-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu" >
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="signOut()">Sign Out</button>
	</mat-menu>
</mat-toolbar>