.todo-action {
  float: right;
  display: flex;
  flex-direction: row;
}

.card {
  background: #222222 !important;
  margin: 20px;
  width: 70%;
}

.bg {
  background: #222222 !important;
}

.card-title {
  color: #CED4DA;
  font-size: 1rem !important;
}

.inline {
  display: inline !important;
}

.right {
  float: right !important;
}

.centre-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
}

.green {
  color: #037971;
}

.pink {
  color: #e31b6d
}

.red {
  color: #ec5453;
}

.coffee {
  color: #6f1a07;
}

.ml-10 {
  margin-left: 10px !important;
}