<as-toolbar (newTransactionEmitter)="saveTransaction($event)"></as-toolbar>
<div class="flex flex-col items-center justify-center">
	<as-summary [summary]="summaryStore.data()"></as-summary>
	<mat-accordion class="flex flex-col w-3/4 sm:min-w-11/12 sm:mx-14">
		<mat-expansion-panel class="w-full  sm:mx-14" [expanded]="false">
			<mat-expansion-panel-header>
				<mat-panel-title class="text-lg">
					<mat-icon class="mr-2">tune</mat-icon>
					Filter
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div class="flex flex-col" [formGroup]="filterForm">
				<div formGroupName="date">
					<mat-form-field>
						<mat-label>Date Between</mat-label>
						<mat-date-range-input [rangePicker]="picker">
							<input dateMask formControlName="start" matStartDate placeholder="Start date" />
							<input dateMask formControlName="end" matEndDate placeholder="End date" />
						</mat-date-range-input>
						<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>

						@if (startDate.hasError('matStartDateInvalid')) {
							<mat-error>Invalid start date</mat-error>
						}
						@if (endDate.hasError('matEndDateInvalid')) {
							<mat-error>Invalid end date</mat-error>
						}
					</mat-form-field>
				</div>
				<div formGroupName="amount">
					<mat-form-field class="mr-2">
						<mat-label>Amount</mat-label>
						<mat-select formControlName="operator">
							<mat-option value="<">less than</mat-option>
							<mat-option value="<=">less than or equals</mat-option>
							<mat-option value="==">equals</mat-option>
							<mat-option value="!=">not equals</mat-option>
							<mat-option value=">">greater than</mat-option>
							<mat-option value=">=">greater than or equals</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Value</mat-label>
						<input formControlName="value" matInput positiveNumberOnly>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-label>Name Contains</mat-label>
						<input matInput formControlName="name">
					</mat-form-field>
				</div>
			</div>
			<button mat-button color="accent" (click)="applyFilter()">Apply</button>
		</mat-expansion-panel>

		@for (transaction of transactions$ | async; track transaction.id) {
			<mat-expansion-panel class="w-full">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<span class="mr-4 font-bold">
							@if (transaction.isExpense) {
								<mat-icon class="negative">trending_down</mat-icon>
							} @else {
								<mat-icon class="positive">trending_up</mat-icon>
							}
						</span>
						{{ transaction.name }}
					</mat-panel-title>
					<mat-panel-description>Rs. {{ transaction.amount }}</mat-panel-description>
					<mat-panel-description>
						{{ transaction.date | date: 'mediumDate' }}
					</mat-panel-description>
				</mat-expansion-panel-header>
				<div class="flex flex-row float-right sm:flex-col sm:float-none">
					<button mat-button color="accent" class="sm:mb-2" (click)="updateTransaction(transaction)">Update</button>
					<button mat-button color="warn" (click)="deleteTransaction(transaction.id)">Delete</button>
				</div>
				<p>{{ transaction.details }}</p>
			</mat-expansion-panel>
		}

		<mat-paginator aria-label="Select page"
		               [hidePageSize]="true"
		               [pageSize]="10"
		               [length]="paginatorLength"
		               (page)="paginate($event)"
		></mat-paginator>
	</mat-accordion>
</div>