<div class="flex flex-col min-h-full">
	<as-toolbar (newTransactionEmitter)="saveTransaction($event)"></as-toolbar>
	<div class="flex flex-col items-center justify-center" style="flex: 1">
		<as-summary [loaded]="summaryStore.loaded()"
		            [summary]="summaryStore.data()"
		            class="flex w-3/4 items-center justify-center xl:w-11/12">
		</as-summary>
		<as-recent-activity [transactions]="recentActivityStore.data()"
		                    class="flex items-center w-3/4 justify-center xl:w-11/12 sm:min-w-11/12 sm:mx-14">
		</as-recent-activity>
		<mat-accordion class="flex flex-col w-3/4 xl:w-11/12 sm:min-w-11/12 sm:mx-14">
			<as-transaction-filter (filterEmitter)="applyFilter($event)"></as-transaction-filter>
			<as-transaction-list (deleteTransactionEmitter)="deleteTransaction($event)"
			                     (updateTransactionEmitter)="updateTransaction($event)"
			                     [loaded]="transactionStore.loaded()"
			                     [transactions]="dataSource.data">
			</as-transaction-list>
			<mat-paginator (page)="paginate($event)"
			               [hidePageSize]="true"
			               [length]="paginatorLength"
			               [pageSize]="10"
			               aria-label="Select page"
			></mat-paginator>
		</mat-accordion>
	</div>
	<as-footer></as-footer>
</div>
