<h2 mat-dialog-title>{{ data ? 'Update Transaction' : 'Add New Transaction' }}</h2>
<mat-dialog-content>
	<div [formGroup]="transactionForm" class="flex flex-col">
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput formControlName="name" required />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Amount</mat-label>
			<input formControlName="amount" matInput positiveNumberOnly required />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Date</mat-label>
			<input [matDatepicker]="picker" dateMask formControlName="date" matInput  required />
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Type</mat-label>
			<mat-select [value]="false" formControlName="isExpense" required>
					<mat-option [value]="false">Income</mat-option>
					<mat-option [value]="true">Expense</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Details</mat-label>
			<textarea matInput formControlName="details"></textarea>
		</mat-form-field>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button (click)="closeDialog(true)" mat-button>Cancel</button>
	<button (click)="closeDialog(false)" [disabled]="!transactionForm.valid" mat-button>
		{{ data ? 'Update' : 'Save' }}
	</button>
</mat-dialog-actions>
