@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #212121;
}

.positive {
  color: #037971;
}

.negative {
  color: #6f1a07;
}

.primary {
  color: #e31b6d
}

.cream {
  color: #CED4DA;
}

mat-accordion, mat-expansion-panel, mat-card, mat-paginator {
  background: #222222 !important;
}

mat-card {
  color: #CED4DA;
}
